.profileDescription {
  grid-area: description;
  background-color: #DFC99B;
  height: 100vh;
}

.App {
  background-color: #dfc95b;
  height: 100vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}